.comment-textarea {
  position: relative;
}

.comment-textarea > textarea {
  width: 100%;
  height: 135px;
  border-radius: 10px;
  border: 1px solid #adb5bd;
  padding: 15px 20px;
}

.comment-textarea > button {
  position: absolute;
  bottom: 23px;
  right: 20px;
  padding: 8px 18.5px;
  background-color: var(--purple);
  color: white;
  border-radius: 20px;
}
