@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400,500,600");

:root {
  --yellow: #f7bc30;
  --orange: #fb5607;
  --red: #ff006e;
  --blue: #3a86ff;
  --purple: #8338ec;
  --pink: #ff66a8;
  --black: #212529;
  --gray: #343a40;
  --lightPurple: #b588f4;
  --green: #08a508;
  --redOrange: #fa4d4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "FiraGO", sans-serif;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "FiraGO", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

select {
  background: transparent;
  outline: none;
  font-family: "FiraGO", sans-serif;
}

ul {
  list-style-type: none;
}

#root.blur {
  filter: blur(10px);
}
