#name,
#surname {
  width: 384px;
  height: 42px;
  border: 1px solid #ced4da;
  outline: none;
  font-size: 14px;
  line-height: 100%;
  padding-left: 5px;
  margin-top: 5px;
  border-radius: 6px;
}

.error-container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.error-container p {
  font-size: 10px;
  line-height: 100%;
  color: var(--gray);
}

.not-validate p {
  color: #fa4d4d;
}

.not-validate svg path {
  stroke: #fa4d4d;
}

.validate p {
  color: #08a508;
}

.validate svg path {
  stroke: #08a508;
}
