.task-info-container,
.tasks-by-level {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title-box {
  color: white;
  width: 381px;
  height: 54px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-info-box {
  width: 381px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.to-start-container > .title-box {
  background-color: var(--yellow);
}

.to-start-container .task-info-box {
  border: 1px solid var(--yellow);
}

.inProgress-container > .title-box {
  background-color: var(--orange);
}

.inProgress-container .task-info-box {
  border: 1px solid var(--orange);
}

.to-test-container > .title-box {
  background-color: var(--red);
}

.to-test-container .task-info-box {
  border: 1px solid var(--red);
}

.finished-container > .title-box {
  background-color: var(--blue);
}

.finished-container .task-info-box {
  border: 1px solid var(--blue);
}

.date {
  font-size: 12px;
  line-height: 100%;
  color: var(--black);
}

.title-description > h3 {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: var(--black);
}

.title-description > p {
  font-size: 14px;
  line-height: 100%;
  color: var(--gray);
}

.avatar-comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar-comment > img {
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.avatar-comment > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.task-info-box > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-priority {
  display: flex;
  align-items: center;
  gap: 10px;
}
